.widget_product_style_1 { overflow: hidden; }
.widget_product_style_1 .box-content { overflow: hidden; position: relative; }
.product-slider-horizontal .item { background-color: #FFF; margin-bottom: var(--bs-gutter-x); }